

<section class="sign_up_section">
    <div class="image_bg_signup"><%= image_tag('bg-img.png',class:"img-fluid")%></div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="header_sign_page">
                      <div class="logo">
                          
                          <%= image_tag('logo.png',class:"img-fluid",alt:"logo")%>
                      </div>
                      <div class="header_menu">
                          <a href="#">College Portal</a>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form_page_heading">Sign Up</div>
              </div>
          </div>
      </div>
      <div class="sign_page_wrapper">
          <div class="container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),remote: true,class:"ctm-form") do |f| %>
              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                  <%=f.label :name ,class: "form-label"%>
                  <%= f.text_field :name,class: "form-control" ,placeholder: "College Name*", 'aria-label': "College Name", :required => true%>
                  <div><%= error_message_on(f.object, :name) %></div>
                 
                </div>
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label :Address ,class: "form-label"%>
                  <%= f.text_field :address,class: "form-control" ,placeholder: "College Address*", 'aria-label': "College Address", :required => true %>
                <%= error_message_on(f.object, :address) %>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label "city*",class: "form-label"%>
                  <%=f.text_field :city,class: "form-control" ,placeholder: "City", 'aria-label': "City", :required => true%>
                </div>
                <div class="col-12 col-md-6 mb-4">
                  <%#=f.label "state*",class: "form-label"%>
                 <!--  <select name="state" class= "form-select">
                  <%# CS.states(:in).each do |key, value| %>
                  <option value="<%#= key %>"><%#= value %></option>
                  <% #end %>
                </select> -->
                   <%=f.label "state*" ,class: "form-label"%>
                   <%#=f.select(:state,options_for_select(["one","two","three"]),{prompt: "state*"},class: "form-select",onChange: "mycity()",'aria-label': "Default select example", :required => true)%>
                  <%=f.text_field :state,class: "form-control" ,placeholder: "State", 'aria-label': "State", :required => true%>             
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label :Country ,class: "form-label"%>
                  <%=f.text_field :country,class: "form-control" ,placeholder: "Country*", 'aria-label': "Contry", :required => true%>
                </div>
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label :Pincode ,class: "form-label"%>
                   <%=f.text_field :pincode,class: "form-control" ,placeholder: "Pin Code", 'aria-label': "Pin Code", :required => true%>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label "College Website" ,class: "form-label"%>
                  <%= f.text_field :website,class: "form-control" ,placeholder: "College Website*", 'aria-label': "College Website", :required => true%>
                </div>
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label "Authority Name" ,class: "form-label"%>
                 <%= f.text_field :authority_name,class: "form-control", placeholder: "Name of Authority*", 'aria-label': "Name of Authority", :required => true %>
                </div>
              </div>
               
               <div class="row">
                  <div class="col-12 col-md-6 mb-4">
                     <%=f.label "Contact Number" ,class: "form-label"%>
                    <%=f.text_field :number,class: "form-control", placeholder: "Contact Number*", 'aria-label': "Contact Number of Concerned Authority", :required => true%>
                     <div class= "error" id="number"></div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                     <%=f.label :Email ,class: "form-label"%>
                     <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder:"Email of Concerned Authority*" ,'aria-label': "Email of Concerned Authority", :required => true %>
                     <div class= "error" id="email"></div>
                  </div>
                </div>

           

              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label :Password ,class: "form-label"%>
                <%= f.password_field :password, autocomplete: "new-password",class: "form-control", placeholder: "Password*", 'aria-label': "Password", :required => true %>
                <div class= "error" id= "password"><%#= error_message_on(f.object, :password) %></div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label "Password Confirmation" ,class: "form-label"%>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", placeholder: "Password Confirmation*", 'aria-label': "Password Confirmation", :required => true %>
                <div class = "error" id= "password_confirmation"><%#= error_message_on(f.object, :password_confirmation) %></div>
                </div>
              </div>

                 <div class="row">
                <div class="col-12 col-md-6 mb-4">
                   <%=f.label "Add Your Message Here" ,class: "form-label"%>
                  <%=f.text_field :message,class: "form-control", placeholder: "Add message"%>
                    
                  </div>
              <div class="actions">
                <button type="submit" class="btn ctm-form-btn">Sign Up</button>
              </div>
         <% end %>  
          </div>
          
      </div>
  </section>

  

  <div class="modal fade" id="otp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enter your PIN from your Email</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
              <%= form_tag confirm_path,id: "otp-form" do |f| %>
              <%#debugger%>
              <%= hidden_field_tag 'hidden_phone_number', '' %>
              <%= hidden_field_tag 'user', '' %>
                <div class="form-group">
               
                <%= text_field_tag :pin %>
              </div>

             <!--  <div class="form-group">
              <%#= text_field_tag :pin %>
              </div class="modal-footer" > -->
              <%= submit_tag "Verify PIN", class: "btn ctm-form-btn" %>
              <% end %>
              </div>
            <div class="modal-footer">
             <!--  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Enter pin</button> -->
          </div>
      </div>
    </div>
  </div>
  
<style type="">
.error{
  color: red;
}
</style>
<!-- <script>
$('select[name="state"]').change(function () {
var input_state = $(this);
debugger
$.getJSON('/cities/' + $(this).val(), function (data) {
  input_state.empty();
  $.each(data, function (i) {
    var opt = '<option value='+ i +'>' + i + '</option>';
    input_state.append(opt);
  });
});
});
</script> -->
<!--   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  -->
<!-- <h2>Sign up</h2>
-->

<script>

//$( "#user_state" ).change(function(){
 // data = $(this).val();

  // debugger
  // $.ajax({
    // url: "/city",
    // type: "GET",
    // data: {state: data},
   // success: function(data) {
              
          // },
    // Callbacks that will be explained
  // })
// })

 // debugger
 // function mycity(){
 //   debugger

 // state = $("#user_state").val();

 // $.ajax({
 //   url: "/city" ,
 //   data: {state: state},
 //   type: "GET",
 //   success: function(data) {
 //     debugger
 //     city=[];
 //     city = "<%#CS.cities(:state)%>"
 //     debugger
 //     $('#city-picker').append
 //     successmessage = 'Data was succesfully captured';
 //     $("label#successmessage").text(successmessage);
 //   },
 // });
 // }



// $( "#user_state" ).addEventListener("change", function(){
//   state = $(this).val();
//   debugger
//   $.ajax({
//     url: city_path ,
//     data: {state: state},
//     type: "GET"
//   })
// });

</script>